@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background: 145 5% 100%;
  --foreground: 240 10% 3.9%;
  --card: 145 5% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 145 4% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 145 67.02% 44.8%;
  --primary-foreground: 0 0% 98%;
  --secondary: 175 10% 92.61%;
  --secondary-foreground: 240 10% 3.9%;
  --accent: 115 15% 92.61%;
  --accent-foreground: 240 10% 3.9%;
  --destructive: 8.12 77.61% 66.82%;
  --destructive-foreground: 0 0% 98%;
  --muted: 145 5% 96%;
  --muted-foreground: 240 3.8% 46.1%;
  --border: 145 10.1% 90%;
  --input: 145 10.1% 90%;
  --ring: 145 67.02% 44.8%;
}

.dark {
  --background: 145 13.4% 6.72%;
  --foreground: 0 0% 98%;
  --card: 145 13.4% 10%;
  --card-foreground: 0 0% 98%;
  --popover: 145 10.05% 9%;
  --popover-foreground: 0 0% 98%;
  --primary: 145 67.02% 41.94%;
  --primary-foreground: 0 0% 98%;
  --secondary: 175 73.61% 4.29%;
  --secondary-foreground: 0 0% 98%;
  --accent: 115 80.14% 4.29%;
  --accent-foreground: 0 0% 98%;
  --destructive: 8.12 77.61% 66.82%;
  --destructive-foreground: 0 0% 98%;
  --muted: 145 13.4% 15%;
  --muted-foreground: 0 0% 63.9%;
  --border: 145 10.1% 15.9%;
  --input: 145 10.1% 15.9%;
  --ring: 145 67.02% 41.94%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.spacer {
  aspect-ratio: 900/400;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/layer1.svg");
}

.layer2 {
  background-image: url("/layer2.svg");
}
